@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::selection {
  background: rgba(16, 185, 129, 0.25); /* emerald-ish */
}

body {
  text-rendering: geometricPrecision;
}
html {
  scroll-behavior: smooth;
}
